<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lafaya.toolbox">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lafaya.toolbox.LaunchActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lafaya.toolbox.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <activity android:name="com.lafaya.toolbox.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="com.lafaya.toolbox.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="com.lafaya.toolbox.PageDevicelayout"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

    </application>

</manifest>
